.header__row {
  background: url('../images/undraw_investing_7u74.svg') no-repeat top right;
  background-size: contain;
  min-height: 90vh;
}
@media screen and (min-width: 1400px) {
  .header__row {
    min-height: 600px;
  }
}
@media screen and (max-width: 767.98px) {
  .header__box {
    background: rgba(248, 249, 250, 0.8);
    -webkit-box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
            box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
  }
}
@media screen and (max-width: 575.98px) {
  .header__box {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.header__title {
  letter-spacing: 2px;
  font-size: 48px;
}
