.nav__list {
  width: 100%;
}
@media screen and (max-width: 767.98px) {
  .nav__list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50% !important;
    height: 100vh;
    overflow-y: auto;
    background: #f1f1f1;
    z-index: 999;
    -webkit-transition: .5s;
    transition: .5s;
  }
}
.nav__list-toggle {
  right: 0;
}
.nav__links {
  height: 60px;
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}
.nav__links:hover {
  color: #4285f4;
}
@media screen and (max-width: 767.98px) {
  .nav__links:first-of-type {
    margin-top: 50px;
  }
}
.active-link {
  color: #4285f4;
}
.nav__open i,
.nav__close i {
  font-size: 24px;
}
.nav__open {
  width: 50px;
}
.nav__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}
